# Concatenizar y apendizar datasets

In [5]:
import pandas as pd

In [6]:
red_wine = pd.read_csv("C:/Users/deiby/Documents/curso-ml/datasets/wine/winequality-red.csv", sep = ";")

red_wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [7]:
white_wine = pd.read_csv("C:/Users/deiby/Documents/curso-ml/datasets/wine/winequality-white.csv", sep = ";")

white_wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [8]:
red_wine.shape

(1599, 12)

In [9]:
white_wine.shape

(4898, 12)

## En python hay 2 tpos de ejes:
- **axis = 0** denota el eje Horizontal
- **axis = 1** denota el eje Vertical

In [10]:
# Se une horizontalmente ambos dataset, en el orden indicado
wine_data = pd.concat([red_wine, white_wine], axis = 0)
wine_data.shape

(6497, 12)

In [11]:
wine_data.head()
wine_data[1599:].head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [12]:
wine_screamble = pd.concat([wine_data.head(2), wine_data[3000:3002], wine_data.tail(2)], axis=0)
wine_screamble

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
1401,6.3,0.67,0.48,12.6,0.052,57.0,222.0,0.99790,3.17,0.52,9.3,6
1402,7.4,0.40,0.29,5.4,0.044,31.0,122.0,0.99400,3.30,0.50,11.1,8
4896,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7
4897,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6

In [25]:
folderpath = "C:/Users/deiby/Documents/curso-ml/datasets/distributed-data/"
ext = ".csv"
zeros = 3

In [38]:
data = pd.DataFrame();

for index in range(332):
    filename = str(index+1).zfill(zeros)
    filepath = folderpath + filename + ext

    fileIndex = pd.read_csv(filepath)

    data = pd.concat([data, fileIndex], axis = 0)

In [43]:
data.head()

         Date  sulfate  nitrate  ID
0  2003-01-01      NaN      NaN   1
1  2003-01-02      NaN      NaN   1
2  2003-01-03      NaN      NaN   1
3  2003-01-04      NaN      NaN   1
4  2003-01-05      NaN      NaN   1

In [45]:

    import chardet
    infile = 'datasets/athletes/Athelete_Country_Map.csv'
    rawdata = open(infile, 'rb').read()
    result = chardet.detect(rawdata)
    charenc = result['encoding']
    charenc
data = pd.read_csv("C:/Users/deiby/Documents/curso-ml/datasets/athletes/Medals.csv", encoding="utf-8")

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xf8 in position 679: invalid start byte

## Join Datasets